.div-alignment {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.deck-card {
    transform: translate(550%, 150%);
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-color: pink;
}