app = "code777"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "4000"
  NODE_ENV = "production"

[[services]]
  internal_port = 4000
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    path = "/"