.deck-tail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;  /* 카드덱의 크기 */
    height: 150px; /* 카드덱의 크기 */
    border-radius: 10px;  /* 카드덱의 테두리 */    
    text-align: center;
    align-content: center;

    animation: none;
    animation-fill-mode: forwards;
}

.is-animated-0 {
    z-index: 6;
    margin-top: 0;
}

.is-animated-1 {
    z-index: 5;
    margin-top: 4px;
}

.is-animated-2  {
    z-index: 4;
    margin-top: 8px;
}

.is-animated-0{
    animation: shuffle 1s ease-in-out 0s 1 normal;
    z-index: 2;
    transition: z-index 0s ease-in-out 0.5s;
}

.is-animated-1 {
   animation: shuffle 1s ease-in-out 1s 1 normal;
   z-index: 1;
   transition: z-index 0s ease-in-out 1.5s;
}
 
.is-animated-2 {
   animation: shuffle 1s ease-in-out 2s 1 normal;
   z-index: 0;
   transition: z-index 0s ease-in-out 2.5s;
}

@keyframes shuffle {
    0% {
        transform: rotate(0) translateX(0) scale(1);
    }
    50% {
        transform: rotate(5deg) translateX(105%) scale(0.96);
    }
    100% {
        transform: rotate(0) translateX(0);
    }
}

.card-deal {
    animation: box-deal 2s 3 linear;
}

.black-background {
    background-color: black;
}

.hide-img {
    visibility: hidden;
}


@keyframes box-deal {
    0% { transform: translate(-50%, -50%); }
    
    10%, 20% { transform: translate(-50%, -250%); } /* 위로 이동 */
    25% { transform: translate(-50%, -50%); } /* 복귀 */
    
    30%, 40% { transform: translate(250%, -50%); } /* 오른쪽 이동 */
    45% { transform: translate(-50%, -50%); } /* 복귀 */ 
    
    50%, 60% { transform: translate(-250%, -50%); } /* 왼쪽 이동 */
    65% { transform: translate(-50%, -50%); } /* 복귀 */

    70%, 80% { transform: translate(-50%, 250%); } /* 아래쪽 이동 */
    85% { transform: translate(-50%, -50%); } /* 복귀 */
}

.div-alignment {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.deck {
    transform: translate(500%, 245%);
    width: 100px;
    height: 150px;
    border-radius: 10px;
    background-color: pink;
}

