/* styles.css */
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
    font-family: 'Galmuri11';
}

.deck-tail {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    width: 100px;  /* 카드덱의 크기 */
    height: 150px; /* 카드덱의 크기 */
    border-radius: 10px;  /* 카드덱의 테두리 */    
    text-align: center;
    align-content: center;

    animation: none;
    animation-fill-mode: forwards;
}

.is-animated-0 {
    z-index: 12;
    margin-top: 0;
}

.is-animated-1 {
    z-index: 11;
    margin-top: 1px;
}

.is-animated-2 {
    z-index: 10;
    margin-top: 2px;
}

.is-animated-3 {
    z-index: 9;
    margin-top: 3px;
}

.is-animated-4 {
    z-index: 8;
    margin-top: 4px;
}

.is-animated-5 {
    z-index: 7;
    margin-top: 5px;
}

.is-animated-6 {
    z-index: 6;
    margin-top: 6px;
}

.is-animated-7 {
    z-index: 5;
    margin-top: 7px;
}

.is-animated-8 {
    z-index: 4;
    margin-top: 8px;
}

.is-animated-9 {
    z-index: 3;
    margin-top: 9px;
}

.is-animated-10 {
    z-index: 2;
    margin-top: 10px;
}

.is-animated-11 {
    z-index: 1;
    margin-top: 11px;
}



.is-animated-0{
    animation: shuffle 1s ease-in-out 0s 1 normal;
    z-index: 11;
    transition: z-index 0s ease-in-out 0.5s;
}

.is-animated-1 {
   animation: shuffle 1s ease-in-out 0s 1 normal;
   z-index: 10;
   transition: z-index 0s ease-in-out 0.5s;
}
 
.is-animated-2 {
   animation: shuffle 1s ease-in-out 0s 1 normal;
   z-index: 9;
   transition: z-index 0s ease-in-out 0.5s;
}

.is-animated-3 {
    animation: shuffle 1s ease-in-out 1s 1 normal;
    z-index: 8;
    transition: z-index 0s ease-in-out 1.5s;
 }

 .is-animated-4 {
    animation: shuffle 1s ease-in-out 1s 1 normal;
    z-index: 7;
    transition: z-index 0s ease-in-out 1.5s;
 }

 .is-animated-5 {
    animation: shuffle 1s ease-in-out 1s 1 normal;
    z-index: 6;
    transition: z-index 0s ease-in-out 1.5s;
 }

 .is-animated-6 {
    animation: shuffle 1s ease-in-out 2s 1 normal;
    z-index: 5;
    transition: z-index 0s ease-in-out 2.5s;
 }

 .is-animated-7 {
    animation: shuffle 1s ease-in-out 2s 1 normal;
    z-index: 4;
    transition: z-index 0s ease-in-out 2.5s;
 }

 .is-animated-8 {
    animation: shuffle 1s ease-in-out 2s 1 normal;
    z-index: 3;
    transition: z-index 0s ease-in-out 2.5s;
 }

 .is-animated-9 {
    animation: shuffle 1s ease-in-out 3s 1 normal;
    z-index: 2;
    transition: z-index 0s ease-in-out 2.5s;
 }

 .is-animated-10 {
    animation: shuffle 1s ease-in-out 3s 1 normal;
    z-index: 1;
    transition: z-index 0s ease-in-out 2.5s;
 }

 .is-animated-11 {
    animation: shuffle 1s ease-in-out 3s 1 normal;
    z-index: 0;
    transition: z-index 0s ease-in-out 2.5s;
 }


@keyframes shuffle {
    0% {
        transform: rotate(0) translateX(0) scale(1);
    }
    50% {
        transform: rotate(5deg) translateX(105%) scale(0.96);
    }
    100% {
        transform: rotate(0) translateX(0);
    }
}

.card-deal {
    animation: box-deal 2s 3 linear;
}

.black-background {
    background-color: black;
}

.hide-img {
    visibility: hidden;
}

.left-card-deal-0-0 {
    animation: left-card-deal 0.5s 1 linear;
}

.left-card-deal-1-0 {
    animation: left-card-deal 0.5s 1 linear;
}

.left-card-deal-2-0 {
    animation: left-card-deal 0.5s 1 linear;
}


.right-card-deal-0-1 {
    animation: right-card-deal 0.5s 1 linear;
}

.right-card-deal-1-1 {
    animation: right-card-deal 0.5s 1 linear;
}

.right-card-deal-2-1 {
    animation: right-card-deal 0.5s 1 linear;
}


.top-card-deal-0-2 {
    animation: top-card-deal 0.5s 1 linear;
}

.top-card-deal-1-2 {
    animation: top-card-deal 0.5s 1 linear;
}

.top-card-deal-2-2 {
    animation: top-card-deal 0.5s 1 linear;
}

.bottom-card-deal-0-3 {
    animation: bottom-card-deal 0.5s 1 linear;
}

.bottom-card-deal-1-3 {
    animation: bottom-card-deal 0.5s 1 linear;
}

.bottom-card-deal-2-3 {
    animation: bottom-card-deal 0.5s 1 linear;
}

@keyframes bottom-card-deal {
    0% { transform: translate(-50%, -50%); }

    30% { transform: translate(-50%, 250%); }

    50% { transform: translate(-50%, -50%); }
}

@keyframes top-card-deal {
    0% { transform: translate(-50%, -50%); }

    30% { transform: translate(-50%, -300%); }

    50% { transform: translate(-50%, -50%); }
}

@keyframes left-card-deal {
    0% { transform: translate(-50%, -50%); }

    30% { transform: translate(-300%, -50%); }

    50% { transform: translate(-50%, -50%); }
}

@keyframes right-card-deal {
    0% { transform: translate(-50%, -50%); }

    30% { transform: translate(300%, -50%); }

    50% { transform: translate(-50%, -50%); }
}


@keyframes box-deal {
    0% { transform: translate(-50%, -50%); }
    
    10%, 20% { transform: translate(-250%, -50%); } /* 왼쪽 이동 */
    25% { transform: translate(-50%, -50%); } /* 복귀 */
    
    30%, 40% { transform: translate(300%, -50%); } /* 오른쪽 이동 */
    45% { transform: translate(-50%, -50%); } /* 복귀 */ 
    
    50%, 60% { transform: translate(-50%, -300%); } /* 위쪽 이동 */
    65% { transform: translate(-50%, -50%); } /* 복귀 */

    70%, 80% { transform: translate(-50%, 250%); } /* 아래쪽 이동 */
    85% { transform: translate(-50%, -50%); } /* 복귀 */
}

.div-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.deck {
    transform: translate(-80%, 0%);
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: pink;
}

.answer {
    transform: translate(80%, 0%);
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    align-content: center;
}

.playercard-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-font {
    font-size: 25px;
}

.board-center {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이를 사용 */
}

.deck-answer {
    font-size: 1.5rem;
    font-weight: bolder;
}

.answer-button-container {
    position: absolute; /* 절대 위치 */
    top: 50px; /* 상단 위치 조정 */
    display: flex;
    visibility: hidden;
    /* opacity: 0; */
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.answer-button-show {
    visibility: visible;
    opacity: 1;
}

.answer-number {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    cursor: pointer;
}

.number-btn-clicked {
    background-color: tomato;
}

.answer-container {
    position: relative; /* 상대 위치 */
    height: 0px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}

.answer-container-show {
    visibility: visible;
    opacity: 1;    
}

.answer-number-cell {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    z-index: 1;
}

.answer-result {
    pointer-events: none;
}

.submit-answer {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.card-retrieve {
    animation: center-card-deal 1s 1 linear;
}

@keyframes center-card-deal {
    10% {
        transform: perspective(800px) rotateY(180deg);
    }

    30% {
        transform: perspective(800px) rotateY(180deg) translate(-100%, -50%);
    }

    100% {
        transform: perspective(800px) rotateY(180deg) translate(-200%, -50%);
    }
    
}

.player-hand-card {
    display: inline-grid;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(0deg);
    transition: transform 0.6s;
}

.card-back {
    width: 100px;  /* 카드덱의 크기 */
    height: 150px; /* 카드덱의 크기 */
    border-radius: 10px;  /* 카드덱의 테두리 */
    /* transform: rotateY(180deg); */
}

.player-hand-card > * {
    grid-area: 1 / 1 / 1 / 1;
    backface-visibility: hidden;
}

/* .player-hand-card:hover {
    transform: perspective(800px) rotateY(180deg);
} */
.name-hand-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.hand-image {
    width: 50px;
    height: 50px;
}