@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
    font-family: 'Galmuri11';
    background-color: #2a8a2a;
    position: relative;
}


.main {
    height: 50vh;
    font-size: 200px;
    color: black;
    text-shadow: -2px 0px yellow, 0px 2px yellow, 2px 0px yellow, 0px -2px yellow;
    text-align: center;
    animation: swingMotion 1s infinite steps(5);
}

@keyframes swingMotion {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

.main-menu-container {
    min-height: calc(80vh - 20rem);
    /* height: 30vh; */
    text-align: center;
}

.main-ul {
    list-style: none;
    height: 100%;
}

.main-ul > li {
    font-size: 40px;
    height: 30%;
}